<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.letter.dao.ChatListMapper">
	<resultMap id="BaseResultMap" type="com.chat.letter.po.ChatList">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id_master" property="userIdMaster" jdbcType="INTEGER" />
		<result column="user_id_customer" property="userIdCustomer" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id,user_id_master, user_id_customer,status,create_time,update_time
	</sql>

	<insert id="insertSelective" parameterType="com.chat.letter.po.ChatList" useGeneratedKeys="true" keyProperty="id">
		insert into tb_chat_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userIdMaster != null">
				user_id_master,
			</if>
			<if test="userIdCustomer != null">
				user_id_customer,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userIdMaster != null">
				#{userIdMaster,jdbcType=INTEGER},
			</if>
			<if test="userIdCustomer != null">
				#{userIdCustomer,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="selectChatListByConditions" resultMap="BaseResultMap" parameterType="com.chat.letter.po.ChatList">
		select
		<include refid="Base_Column_List" />
		from tb_chat_list where 1=1
		<if test="userIdMaster != null">
			user_id_master = #{userIdMaster,jdbcType=INTEGER},
		</if>
		<if test="userIdCustomer != null">
			user_id_customer = #{userIdCustomer,jdbcType=INTEGER},
		</if>
		<if test="status != null">
			status = #{status,jdbcType=INTEGER},
		</if>
		order by updateTime desc
	</select>

	<update id="updateStatus" parameterType="java.lang.Integer">
		update tb_chat_list set status = #{status} where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>