<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chat.letter.dao.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.chat.letter.po.UserInfo">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
		<result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="INTEGER" />
		<result column="user_sex" property="userSex" jdbcType="INTEGER" />
		<result column="user_com" property="userCom" jdbcType="VARCHAR" />
		<result column="user_status" property="userStatus" jdbcType="INTEGER" />
		<result column="user_online" property="userOnline" jdbcType="INTEGER" />
		<result column="user_head_pic" property="userHeadPic" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="vip_type" property="vipType" jdbcType="INTEGER" />
		<result column="vip_name" property="vipName" jdbcType="VARCHAR" />
		<result column="vip_create_time" property="vipCreateTime" jdbcType="TIMESTAMP" />
		<result column="vip_end_time" property="vipEndTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, user_name,
		user_phone,user_pwd,user_type,user_sex,user_com,user_status,user_online,user_head_pic,
		create_time,update_time,vip_type,vip_name,vip_create_time,vip_end_time
	</sql>

	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_user_info where user_status = 1 order by create_time desc
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_user_info where user_id = #{userId} and user_status = 1
	</select>

	<insert id="insertSelective" parameterType="com.chat.letter.po.UserInfo" useGeneratedKeys="true" keyProperty="userId">
		insert into tb_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				user_name,
			</if>
			<if test="userPhone != null">
				user_phone,
			</if>
			<if test="userPwd != null">
				user_pwd,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="userSex != null">
				user_sex,
			</if>
			<if test="userCom != null">
				user_com,
			</if>
			<if test="userHeadPic != null">
				user_head_pic,
			</if>
			<if test="userStatus != null">
				user_status,
			</if>
			<if test="userOnline != null">
				user_online,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time
			</if>
			<if test="vipType != null">
				vip_type,
			</if>
			<if test="vipName != null">
				vip_name,
			</if>
			<if test="vipCreateTime != null">
				vip_create_time,
			</if>
			<if test="vipEndTime != null">
				vip_end_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPhone != null">
				#{userPhone,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				#{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				#{userType,jdbcType=INTEGER},
			</if>
			<if test="userSex != null">
				#{userSex,jdbcType=INTEGER},
			</if>
			<if test="userCom != null">
				#{userCom,jdbcType=VARCHAR},
			</if>
			<if test="userHeadPic != null">
				#{userHeadPic,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				#{userStatus,jdbcType=INTEGER},
			</if>
			<if test="userOnline != null">
				#{userOnline,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vipType != null">
				#{vipType,jdbcType=INTEGER},
			</if>
			<if test="vipName != null">
				#{vipName,jdbcType=VARCHAR},
			</if>
			<if test="vipCreateTime != null">
				#{vipCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vipEndTime != null">
				#{vipEndTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<select id="selectUserInfoByConditions" resultMap="BaseResultMap" parameterType="com.chat.letter.po.UserInfo">
		select
		<include refid="Base_Column_List" />
		from tb_user_info where 1=1
		<if test="userName != null">
			and user_name = #{userName}
		</if>
		<if test="userPhone != null">
			and user_phone = #{userPhone}
		</if>
		<if test="userPwd != null">
			and user_pwd = #{userPwd}
		</if>
		<if test="userType != null">
			and user_type = #{userType}
		</if>
		<if test="userStatus != null">
			and user_status = #{userStatus}
		</if>
		<if test="userOnline != null">
			and user_online = #{userOnline}
		</if>
		<if test="vipType != null">
			and vip_type = #{vipType,jdbcType=INTEGER},
		</if>
		order by create_time desc;
	</select>

	<update id="update" parameterType="com.chat.letter.po.UserInfo">
		update tb_user_info
		<trim prefix="set " suffixOverrides=",">
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				user_pwd = #{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				user_type = #{userType,jdbcType=INTEGER},
			</if>
			<if test="userCom != null">
				user_com = #{userCom,jdbcType=VARCHAR},
			</if>
			<if test="userHeadPic != null">
				user_head_pic = #{userHeadPic,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				user_status = #{userStatus,jdbcType=INTEGER},
			</if>
			<if test="userOnline != null">
				user_online = #{userOnline,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vipType != null">
				vip_type = #{vipType,jdbcType=INTEGER},
			</if>
			<if test="vipName != null">
				vip_name = #{vipName,jdbcType=VARCHAR},
			</if>
			<if test="vipCreateTime != null">
				vip_create_time = #{vipCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="vipEndTime != null">
				vip_end_time = #{vipEndTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
		    where user_id = #{userId,jdbcType=INTEGER}
	</update>
</mapper>